@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Sriracha:regular);
@import url(https://fonts.googleapis.com/css?family=Passion+One:regular,700,900);

:root {
   --font1: Verdana, Tahoma, sans-serif;
   --font2: "Passion one";
   --font3: "Sriracha";
}

* {
   margin: 0;
   padding: 0;
}
html, body {
   min-height: 100vh;
   background-color: darkgrey;
}

header {
   background-color: black;
   color: white;
   text-align: center;

}
header h1 {
   padding-top: 50px;
   font-variant: small-caps;
   
}
header p {
   padding-bottom: 50px;
}
a {
   color: white;
   font-weight: bolder;
   text-decoration: none;
}
a:hover {
   text-decoration: underline;
}
section{
   padding: 10vh 30px;
   line-height: 2em;
}
.normal{
   background-color: white;
   color: black;
}
.imagem{
   background-color: rgba(44, 44, 44, 0.664);
   color: white;
}
.imagem p{
   width: 400px;
   background-color: rgba(0, 0, 0, 0.459);
}
footer {
   background-color: black;
   color: white;
   text-align: center;
   padding: 10px;
}
